<HTML>
<HEAD>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83731338-2"></script><script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-83731338-2');</script><title>DirectAnimation SDK, Java sample</TITLE>
<SCRIPT LANGUAGE="JScript">
<!--
if (window.top.frames.length!=0 && window.top.frames[0].ShowNoButtons!=null)
    window.top.frames[0].ShowNoButtons();
//-->
</SCRIPT>
<!--STRIP_END-->
</HEAD>
<!--TOOLBAR_START-->
<!--TOOLBAR_EXEMPT-->
<!--TOOLBAR_END-->


<BODY BGCOLOR=WHITE LINK="#0033CC" TOPMARGIN=15 LEFTMARGIN=20>
<FONT FACE="Verdana, Arial, Helvetica" SIZE=2>
<CENTER>
<H1>Basic Applet</H1>
</CENTER>
<APPLET CODEBASE="/directx/dxm/media/" CODE="BasicApplet.class" WIDTH=200 HEIGHT=200 ALIGN=LEFT VSPACE=20 HSPACE=20>
</APPLET>
<P>
This simple applet draws a blue solid color image.  It shows the proper way
to write a DirectAnimation applet.
<P> For a short tutorial on this sample click this button: 
<A HREF="/directx/dxm/samples/da/java/templates/BasicApplet/Section1.html" TARGET="_blank"><IMG HEIGHT="44" WIDTH="44" ALT="TUTORIAL" ALIGN=MIDDLE SRC="/directx/dxm/media/image/info.gif"></A>
<P>
<A HREF="/directx/dxm/samples/da/java/templates/BasicApplet/BasicApplet.java">View Java Source Code</A>

<HR>
</FONT>
</BODY>
</HTML>
