/* BackOffice Common Linked Style Sheet for IE3 - last updated 10-10-97 */

body		{ background: #FFFFFF;  	/*K2 and Proxy white background*/
	/*	background: #FEFEFE;  */	/*SMS yellow background*/
	/*	font-size: 70%; */		/*SMS font size*/
		font-size: 75%;     		/*K2 and Proxy font size*/
		font-family: Verdana, Arial, Helvetica;  }

a:link		{  background: transparent;	color: #0000FF} 

a:visited 	{  color: #800080}

h1		{  font-weight: bold;
		font-size: 55%;
		margin-bottom: -2.2em; }

h2		{  font-weight: bold;
		font-size: 66%;
		margin-top: 6pt;
		margin-bottom: -2.2em; }

h3		{  font-weight: bold;
		font-size: 77%;
		margin-top: 6pt;
		margin-bottom: -3em;  }
			
p		{  margin-top: -2em;
		margin-bottom: -2em;  }	

ol p		{  margin-top: -4em;  }		/*paragraph inside a numbered list*/

ol dl		{  margin-top: -4em;
		margin-left: -31pt;  }		/*term/def list inside a numbered list*/

ol dl dl	{  margin-top: 0em;
		margin-left: 0pt;  }		/*term/def list inside a term/def list*/

ul p		{  margin-top: -4em;  }		/*paragraph inside a bulleted list*/

big		{  font-weight: bold; 
		font-size: 75%;
		margin-bottom: -6em;  }
		
ol		{  margin-left: -15pt;
		margin-top: -7em;  }
	
ul		{  margin-left: -15pt;
		margin-top: -15em;  }
			
ol ul		{  margin-top: 2em;
		margin-bottom: -6em;  }	/*bulleted list inside a numbered list*/

ul ul		{  margin-top: 2em;
		margin-bottom: -6em;  }	/*bulleted list inside a bulleted list*/

dl ul		{  margin-left: 0pt;
		margin-top: 0pt;  }		/*bulleted list inside a def/term*/
			
li		{  margin-top: 4pt;  }
						
code	{  font-family: Courier;  
		font-size: 100%;  }

pre		{ font-family: Courier; 
		font-size: 100%;  }

dl		{ margin-top: -10em;  }

dt		{  font-weight: bold;
		margin-left: 15pt;  }

dd		{  margin-top: 1pt; 
		margin-bottom: 10pt;  }
		
div dt	{  margin-left: -2pt;  }			
		
hr		{  margin-bottom: 20pt; }	/*IIS specific - preceding copyright*/
		
table	{ margin-top: 2pt;
		margin-bottom: 10pt;  }
			
object	{  margin-top: 0pt;
		line-height: 11.3em;  }

img		{  margin-top: -4pt;  }


/*	MISC. TAGS	*/
			
p.bigfix	{  margin-top: -11em;
		margin-bottom: -11em;  }  /*paragraph following a list, preceding a procedure*/
					
hr.sms	{  text-align: left;
		margin-bottom: 7pt;  }  /*SMS specific rule used under procedure title*/

hr.iis	{  color: black;
		margin-bottom: 20pt; }	/*IIS specific - preceding copyright*/
