/* Spider Style Sheet for IE3 - last updated 8-5-97 */

	body  	{  font-size: 75%;
			font-family: Verdana, Arial, Helvetica; }
		
	h1		{  font-weight: bold;
			font-size: 55%;}

	h2		{  font-weight: bold;
			font-size: 66%; }

	h3		{  font-weight: bold;
			font-size: 77%; }
		
	h4		{  font-weight: bold;
			font-size: 77%; }

	h5		{  font-weight: bold;
			font-size: 95%; }
			
	table	{  font-size: 75%;  }
		
	big		{  font-weight: bold;  }
						
	code	{  font-family: Courier; 
			font-size: 100% }

	pre		{  font-family: Courier;
			font-size: 100% }

	hr.iis	{  color: black;
			margin-bottom: 20pt; }	

				
