/* Spider Style Sheet for IE4 - last updated 8-27-97 */


	body  	{  font-size: 75%;
			font-family: Verdana, Arial, 			Helvetica; }
		
	h1		{  font-size: 145%;}

	h2		{  font-size: 125%; }

	h3		{  font-size: 110%; }
		
	h4		{  font-size: 100%; }

	h5		{  font-size: 95%; }
		
	table	{  font-size: 100%;  }
	
	big		{  font-weight: bold; 
			font-size: 105%;  }
						
	code	{  font-family: Courier; 
			font-size: 125%; }

	pre		{  font-family: Courier; 
			font-size: 125	%; }
				
	hr.iis		{  color: black; }