body { font-family: Tahoma, Verdana, Arial, Helvetica; background:url(body.gif) repeat-x; color:#333; }
body, td { font-size: 13px; }
body.tabular { margin-left: 0; margin-top: 0; margin-right: 15; }
a { color:#CC3300; }
h1, h2, h3, h4, h5 { font-weight:normal; }
h1 { font-size: 40px; color:#0B212B; }
h2 { font-size: 30px; color:#0B212B; }
h3 { font-size: 20px; color:#CC3300; }
h3.author, h3.corpauthor { text-align: left; font-style: normal;
font-size: 100%; margin-bottom: 0; }
ul { padding:0; margin:0; }
ul li { list-style:none; background:url(marker.gif) no-repeat 0 7px; padding:0 0 0 18px; }
.content { padding-left: 15; padding-top: 10; vertical-align: top; }
.programlisting, .screen,
.note, .warning, .caution, .tip, .important
{ background-color: #dddddd;
border: thin solid #cccccc; padding: 0.25em 1em 0.25em 1em; }
.abstract { font-style: italic; }
.abstract .title { font-style: normal; }
.figure, .informalfigure { text-align: center; }
div.blockquote { border-left: 3px double; }
table { border-collapse:collapse;	border-spacing:0;	border:0; margin-bottom:10px; }
table td { border:0;	border-bottom:dotted 1px #0B212B;	padding:6px 10px 6px 20px; }
table td td { border:0 !important; }
table table { margin:0 !important; }
div.table p.title { padding:5px 0 5px 18px; background:#CC3300; font-size:21px; font-weight:normal; color:#fff; }
div.table p.title b { font-weight:normal; }
