body     { font-size: 78%; font-family: "Verdana, sans-serif"; }
table    { font-size: 78%; font-family: "Verdana, sans-serif"; }
th       { font-size: 110%; font-family: "Verdana, sans-serif"; }
tr       { font-size: 110%; font-family: "Verdana, sans-serif"; }
td       { font-size: 110%; font-family: "Verdana, sans-serif"; }
h1       { font-weight: bold; font-size: 185%; font-family: "Tahoma, Verdana, sans-serif"; margin-top: 12pt; margin-bottom: 0; }
h2       { font-weight: bold; font-size: 170%; font-family: "Tahoma, Verdana, sans-serif"; margin-top: 12pt; margin-bottom: 0; }
h3       { font-weight: bold; font-size: 140%; font-family: "Tahoma, Verdana, sans-serif"; margin-top: 12pt; margin-bottom: 0; }
h4       { font-weight: bold; font-size: 125%; font-family: "Tahoma, Verdana, sans-serif"; margin-top: 12pt; margin-bottom: 0; }
h5       { font-weight: bold; font-size: 110%;  font-family: "Tahoma, Verdana, sans-serif"; margin-top: 12pt; margin-bottom: 0; }
code     { font-size: 106%; font-family: "Lucida Sans Typewriter, Courier New, monospace"; }
pre      { font-size: 106%; font-family: "Lucida Sans Typewriter, Courier New, monospace"; }
dt       { margin-top: 10pt; }
dl       { margin-top: 0; }
li       { margin-top: 6pt; }
ul       { margin-top: 0; }
ol       { margin-top: 0; }
p        { margin-top: 10pt; margin-bottom: 0; }
img      { vertical-align: middle; }
.indent1 { margin-left: 12pt; }
.indent2 { margin-left: 24pt; }
.indent3 { margin-left: 36pt; }
