/*         ADD YOUR COMMENTS WHEN MAKING CHANGES TO THIS FILE          */
/*   12/17/08: Style added to disable image for Expand All /Collapse All text in header - Asheem Mamoowala*/ 
/*  */
/*  9/8/08: Styles added for PromptBlock, Section-within-a-Section - Asheem Mamoowala */
/* */
/*  8/12/08: brought the new style definition for head into acad specific to deal with ACAD and */
/*                 LT product image issue - Anant Trivedi */
/*  */
/*  2/1/08 : File created with unique ACAD stylings - Asheem Mamoowala */
/***********************************************************************/

/* head region */
div.head {
background-color: #000000;
margin-left: -12pt;
margin-right: -12pt;
background-image: url(../product_name.gif);
background-repeat: no-repeat;
background-position: 15px 14px;
}

img.expandcollapse_img {
    display:none;
}

div.collapseexpand {
background-color:#3D3D3D;
}

TD.table-body {
	vertical-align: top;
}

TD.table-body UL {
	margin-top: 0pt;
}

TD.table-body UL LI{
	margin-top: 0pt;
	padding-bottom: 6pt

}

SPAN.codeIdentifier {
font-family: "Courier New", Courier, monospace;
font-size: 10pt;
font-style: normal;
font-weight: normal;
}

EM.codeEmphasisStrong {
font-style: normal;
font-family: "Courier New", Courier, monospace;
font-weight: bold 
}

LI.topiclist-litem A {
	font-weight: bold;
}


/* ------------------  */
/* SysVAR related */
TD.sysVarBlock__title {
    font-size: 9pt;
    font-weight: bold;
}

TD.sysVarBlock__content {
    font-size: 9pt;
}
/* ------------------  */

/* ------------------  */
/* InfoBurst Para */     
div.infoBurstPara {
margin-top: 16pt;
}

span.infoBurstPara__title {
font-weight : bold;
font-size: 8pt;
color : #669999;
margin-left : 0pt;
}
/* ------------------  */

/* -------PROMPT BLOCK-----------  */
P.promptBlock 
{
	color:#669999;
	padding-left:15pt;

}	
/* ------------------  */