

/********** Default page style *******************************/
body, p, td, input, textarea, select {
        font-family: Verdana, Arial; font-size: 8pt;
}

.treeitem {text-decoration:none;}

a:link {color: #00289C; text-decoration: none; }
a:active, a:visited {text-decoration: none; }
a:hover {color: #CE9E08; text-decoration: underline;}

.toc_normal {}

.toc_selected {font-weight: bold;}
