/* MED group will put customizations here for Browser Based HTML Help topic-page changes */


/* file started Dec 4 2006 by Peter to test that resource path takes this and puts it in help. 


process still needs to be worked out for panel page CSS classes, since med.css is NOT added to those pages yet. */


/* This is to fix an IE horizontal scroll bar bug. It turns     */
/* off the horizontal scroll bar.                               */
html {
	overflow-y: scroll;
}

/* remove comments link for localized versions                  */
/*
DIV.footer-block {
display: none;
}
*/

body {
	margin-bottom: 0pt;
	margin-left: 12pt;
	margin-right: 0pt;
	margin-top: 0pt;
}

body, p, td, input, textarea, select {
	font-family: Verdana, Arial, Sans-serif;
	font-size: x-small;
}


/* Setting a right margin on the <body> element causes          */
/* a problem. Firefox and IE don't display the right margin the */
/* same way with respect to the head graphic. So I'm setting    */
/* the right margin for individual elements here. - Darryl      */
p,
div.footer-block,
div.head-text span,
div.note-note,
div.note-tip,
div.note-important,
div.note-related,
div.note-warning,
div.bodyprocess,
div.see-also,
ul,
ol
 {
	margin-right: 12pt;
}

/************ Header ***************/
div.head {
	background-image: url(../images/head_graphic.gif);
	/* background-repeat: repeat-y; */
	margin-left: -12pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-top: 10pt;
}

div.head-text {
	padding-top: 6pt;
	padding-bottom: 6pt;
}

/* head-text */
div.head-text span {
	/* color: #fff; */
	color: black;
	font-size: large;
	font-weight: bold;
	line-height: normal;
	padding-left: 0;
	margin-left: 0pt;
	padding-bottom: 6pt;
	width: 100%;
	/* filter: glow(color=#006699, strength=4); */
	/* filter: dropshadow(color=#333333, offx=1, offy=1, positive=1); */
	filter: none;
}

div.head-block {
	margin-left: 12pt;
	margin-right: 12pt;
}

div.nav-group {
	/*float: right;*/
	/*text-align: right;*/
}

div.browse {
	float: none;
	width: auto;
}

div.button-info {
	text-align: center;
}

/*****************************************************/

a:link, a:visited {
	font-size: x-small;
	text-decoration: underline;
}

a:hover {
	color: #03b;
	text-decoration: underline;
}

span.keyCaps {
	font-weight: bold;
	border: solid black;
	border-width: 1px;
}

ol, ul {
	margin-left: 24pt;
}

th.table-heading, 
table.not-ruled th.table-heading, 
table.ruled th.table-heading {
	font-size: x-small;
	color: #000000;
}

span.uis-unspecified {
	font-weight: bold;
	margin-right: 10px;
}

p.section_title_h1 {
	font-weight: normal;
	font-size: medium;
	background-color: #383838;
  /*color: #ffffff;*/
  color: #e4cc6a;
  display: block;
	padding-bottom: 2pt;
  padding-left: 5pt;
  padding-top: 1pt
 
 }

p.section_title_h2 {
	font-weight: bold;
	font-size: small;
}

p.section_title_h3 {
	font-weight: bold;
	font-size: 110%;
}

p.list-intro {
	font-size: x-small;
	color: #000000;
}


div.bodyProcess {
	background-color: #FFFFF4;
  border: dashed;
  border-color: #CC9;
  border-width: 1px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

div.bodyProcess h1 {
	font-size: x-small;
	font-weight: bold;
}

div.bodyProcess p {
	font-size: 80%;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

div.note-note span.label,
div.note-tip span.label,
div.note-important span.label,
div.note-related span.label, 
div.note-warning span.label {
	color: #000000;
	font-weight: bold;
	font-size: x-small;
	margin-right: 10px;
}

div.note-note,
div.note-tip,
div.note-important,
div.note-related,
div.note-warning {
	background: #FFFFF4;
	border-style: dashed;
	border-color: #CC9;
	border-width: 1px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}


/* TOC */
tr.book-title__row {
	display: none;
}

body.content_htmlbody a:link,
body.content_htmlbody a:visited {
        font-size: 70%;
        color: #00289C;
}

body.content_htmlbody a:active {
	color: red;
}

/* -----------------------------------------------------------------------------------------------
								Art related elements
 ----------------------------------------------------------------------------------------------- */

div.figure-anchor img {
margin-bottom: 6pt;
}

p.figure-title {
margin-top: 0pt;
margin-bottom: 4pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
font-size: 80%;
line-height: 110%;
font-weight: bold;
color: black;
}

div.figure-anchor {
margin-top: 16pt;
margin-bottom: 16pt;
}

ol div.figure-anchor p {
	margin-top: 0pt;
}

ul div.figure-anchor p {
margin-top: 0pt;
}

pre.codeLine {
margin-top: 0pt;
margin-bottom: 0pt;
}

SPAN.code, DIV.codeBlock, P.codeLine, P.codeComment, SPAN.codeLiteral {
font-size: small;
}
div.codeBlock {
margin-top: 8pt;
}
