body {
      color:#000000;
      margin-top:-.5em;
      background:#FFFFFF;
      font-size:70%;
      font-family:Verdana, Arial, Helvetica, "Sans Serif ";
}
a:link {
        color:#0000ff;
        text-decoration:underline;
}
a:visited {
           color:#0000ff;
           text-decoration:underline;
}
a:active {
          color:#ff0000;
          cursor:hand;
          text-decoration:underline;
}
a:hover {
         color:#ff0000;
         cursor:hand;
         text-decoration:underline;
}
h1 {
    margin-bottom:.5em;
    clear:both;
    margin-top:6pt;
    font-size:12pt;
}
LI.h1 {
       font-size:12pt;
}
h2 {
    margin-bottom:.5em;
    clear:both;
    margin-top:2em;
    font-size:small;
}
LI.h2 {
       font-size:small;
}
h3 {
    clear:both;
    font-size:10pt;
    margin-bottom:0.0em;
    margin-top:1em;
}
LI.h3 {
       font-size:10pt;
}
h4 {
    font-size:100%;
    margin-top:1.2em;
    margin-bottom:.5em;
    clear:both;
}
LI.h4 {
       font-size:100%;
}
h5 {
    font-size:100%;
    margin-top:1.2em;
    margin-bottom:.5em;
    clear:both;
}
LI.h5 {
       font-size:100%;
}
p {
   margin-top:.6em;
   margin-bottom:.6em;
   font-size:8pt;
}
LI.p {
      font-size:8pt;
}
ol {
    margin-top:.5em;
    margin-bottom:0;
    margin-left:2.1em;
    padding-left:0em;
    font-family:Verdana, sans-serif;
    font-size:8pt;
}
ul {
    margin-top:.6em;
    margin-bottom:0;
    list-style-type:disc;
    margin-left:1.5em;
    padding-left:0em;
    font-family:Verdana, sans-serif;
    font-size:8pt;
}
li {
    margin-bottom:.7em;
    clear:both;
}
dd {
    margin-bottom:0;
    margin-left:1.5em;
}
table.main {
            font-family:Verdana, Arial, Helvetica, "MS Sans Serif";
            background-color:#ffffff;
            margin-top:0em;
            margin-bottom:0em;
            margin-left:-.8em;
            padding-left:0em;
            padding-right:0em;
}
dt {
    margin-top:2em;
}
table {
       font-size:100%;
       margin-top:1em;
       margin-bottom:1em;
       cellpadding:0.5em;
}
th {
    text-align:left;
    background:#DDDDDD;
    vertical-align:bottom;
}
tr {
    vertical-align:top;
}
td {
    background:#EEEEEE;
    vertical-align:top;
}
p.indent {
          margin-left:2em;
}
LI.p-indent {
}
p.indent2 {
           margin-left:0.43in;
}
LI.p-indent2 {
}
p.proclabel {
             font-size:100%;
             font-weight:bold;
             clear:both;
}
LI.p-proclabel {
                font-size:100%;
                font-weight:bold;
}
#expand {
         margin-bottom:0.6em;
}
a:link.expandToggle {
                     color:#000000;
                     font-weight:bold;
                     text-decoration:none;
}
a:visited.expandToggle {
                        color:#000000;
                        font-weight:bold;
                        text-decoration:none;
}
a:hover.expandToggle {
                      color:#0000ff;
}
a:active.expandToggle {
                       color:#0000ff;
}
img.expand {
            border:none;
            width:.8em;
            margin-right:0.5em;
}
div.expand {
            margin-left:1.5em;
            margin-bottom:1em;
            display:none;
}
p.empty {
         font-weight:bold;
}
LI.p-empty {
            font-weight:bold;
}
span.empty {
            font-weight:bold;
            margin-bottom:12;
            margin-left:16;
}
a:link img.thumbnail {
                      border-color:#0000ff;
}
a:active img.thumbnail {
                        border-color:#ff0000;
}
a:hover img.thumbnail {
                       border-color:#ff0000;
}
img.thumbnail {
               vertical-align:top;
               margin-left:0;
               width:90;
               border-width:1;
}
div.thumbnail {
               float:left;
               width:105;
}
.button {
         border-top-color:#000000;
         border-left-color:#000000;
         border-bottom-color:#666666;
         border-right-color:#666666;
         background-color:#dddddd;
}
.push {
       border-top-color:#666666;
       border-left-color:#666666;
       border-bottom-color:#000000;
       border-right-color:#000000;
       background-color:#ffffff;
}
#buttonDiv {
            padding:0.5em 0.3em 0.1em 0.3em;
            border-bottom:thin groove #808080;
            background:#C0C0C0;
            align:top;
}
.cold {
}
.hot {
}
#wPopup {
}
a:link#wPopup {
               color:#006600;
}
a:hover#wPopup {
                color:#ff0000;
}
a:active#wPopup {
                 color:#ff0000;
}
a:visited#wPopup {
                  color:#006600;
}
img.popup {
           border:none;
           margin-right:0.5em;
           vertical-align:middle;
}
#shortcut {
}
img.shortcut {
              border:none;
              margin-right:0.5em;
              vertical-align:middle;
}
#specLoc {
}
#relTopics {
}
p.relTopics img {
                 vertical-align:top;
}
#altLoc {
}
p.note {
        font-weight:bold;
        clear:both;
        margin-top:1em;
        margin-bottom:-.25em;
        font-weight:normal;
        font-style:normal;
        margin-top:12pt;
        margin-bottom:6pt;
}
p.tip {
       font-weight:bold;
       clear:both;
       margin-top:1em;
       margin-bottom:-.25em;
}
p.important {
             font-weight:bold;
             clear:both;
             margin-top:1em;
             margin-bottom:-.25em;
}
p.caution {
           font-weight:bold;
           clear:both;
           margin-top:1em;
           margin-bottom:-.25em;
}
p.warning {
           font-weight:bold;
           clear:both;
           margin-top:1em;
           margin-bottom:-.25em;
}
LI.p-note {
           font-weight:bold;
           font-weight:normal;
           font-style:normal;
}
LI.p-tip {
          font-weight:bold;
}
LI.p-important {
                font-weight:bold;
}
LI.p-caution {
              font-weight:bold;
}
LI.p-warning {
              font-weight:bold;
}
img.alert {
           border:none;
}
span.printOnly {
                display:none;
}
.userData {
           behavior:url(#default#userdata);
}
#checklist {
            width:100%;
            text-align:left;
            margin:0.3em 0em;
}
#checklist li {
               text-indent:0.2em;
}
a:hover.navbar {
}
a:active.navbar {
}
a:link.navbar {
}
a:visited.navbar {
}
#nav {
      left:0;
      top:0px;
      text-align:left;
      margin:0;
      position:absolute;
      padding-bottom:1px;
      padding-top:3px;
      padding-right:6px;
      padding-left:5px;
      align:top;
      visibility:hidden;
      z-index:1;
}
#text {
       left:0;
       top:0px;
       text-align:left;
       margin:0;
       position:absolute;
       padding:10px;
       overflow:auto;
       height:100%;
       z-index:1;
       background-repeat:no-repeat;
       background-position:bottom right;
       background-attachment:fixed;
}
#wPopupWeb {
}
a:link#wPopupWeb {
                  color:#006600;
}
a:hover#wPopupWeb {
                   color:#ff0000;
}
a:active#wPopupWeb {
                    color:#ff0000;
}
a:visited#wPopupWeb {
                     color:#006600;
}
#shortcutWeb {
}
#specLocWeb {
}
#relTopicsWeb {
}
#altLocWeb {
}
div.popup {
           visibility:hidden;
           z-index:3;
           position:absolute;
           top:200;
           left:200;
           width:250;
           padding:6px;
           background-color:#FFFFCC;
           border-style:solid;
           border-width:1;
           border-color:#666666;
}
P.Preformatted {
                line-height:normal;
                x-text-tab-stops:repeat 1in;
                white-space:nowrap;
                font-size:smaller;
                font-family:monospace;
                margin-bottom:1.5em;
                background:#EEEEEE;
                margin-top:1.2em;
}
LI.P-Preformatted {
                   line-height:normal;
                   x-text-tab-stops:repeat 1in;
                   white-space:nowrap;
                   font-size:smaller;
                   font-family:monospace;
}
SPAN.Code {
           font-size:125%;
           font-family:Courier New;
}
P.Bullet2 {
           list-style:square;
           margin-left:0.4in;
}
LI.P-Bullet2 {
              list-style:square;
}
P.RelatedTopicsHeading {
                        font-weight:bold;
                        font-style:normal;
                        font-size:8pt;
                        x-next-class:RelatedLink;
                        x-next-type:P;
                        margin-top:14pt;
}
LI.P-RelatedTopicsHeading {
                           font-weight:bold;
                           font-style:normal;
                           font-size:8pt;
}
P.Numbered {
            margin-left:0.2in;
            list-style:decimal;
}
LI.P-Numbered {
               list-style:decimal;
}
A.expandspot {
              color:#008000;
              cursor:hand;
              font-style:italic;
              text-decoration:none;
}
SPAN.expandtext {
                 font-style:italic;
                 font-weight:normal;
                 color:#ff0000;
}
A.dropspot {
            cursor:hand;
            color:#008000;
            font-style:italic;
            text-decoration:none;
}
A.glossterm {
             color:#800000;
             cursor:hand;
             font-style:italic;
             text-decoration:none;
}
SPAN.glosstext {
                font-style:italic;
                font-weight:normal;
                color:#0000ff;
}
P.ToDo {
        font-weight:bold;
        font-style:normal;
}
LI.P-ToDo {
           font-weight:bold;
           font-style:normal;
}
P.RelatedLink {
               margin-top:6pt;
               list-style:square;
               margin-left:0.1in;
}
LI.P-RelatedLink {
                  list-style:square;
}
P.AlphaNumbered {
                 list-style:lower-alpha;
                 margin-left:36pt;
}
LI.P-AlphaNumbered {
                    list-style:lower-alpha;
}
P.Indent3 {
           margin-left:0.75in;
}
LI.P-Indent3 {
}
P.Bullet3 {
           list-style:disc;
           margin-left:0.7in;
}
LI.P-Bullet3 {
              list-style:disc;
}
P.TableText {
             margin-top:6pt;
             margin-bottom:0pt;
}
LI.P-TableText {
}
P.TableTextBld {
                font-weight:bold;
                font-style:normal;
                margin-bottom:0pt;
}
LI.P-TableTextBld {
                   font-weight:bold;
                   font-style:normal;
}
P.Bullet1 {
           margin-left:0.2in;
           list-style:square;
}
LI.P-Bullet1 {
              list-style:square;
}
P.ProcHead {
            font-size:10pt;
            font-weight:bold;
            font-style:normal;
}
LI.P-ProcHead {
               font-size:10pt;
               font-weight:bold;
               font-style:normal;
}
P.GlossaryHead {
                font-weight:bold;
                font-style:normal;
                font-size:11pt;
                margin-top:16.5pt;
}
LI.P-GlossaryHead {
                   font-weight:bold;
                   font-style:normal;
                   font-size:11pt;
}
P.GlossaryTerm {
                font-weight:bold;
                font-style:normal;
                x-next-type:p;
                margin-bottom:0.0pt;
}
LI.P-GlossaryTerm {
                   font-weight:bold;
                   font-style:normal;
}
