div.Normal
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.Normal_outer
{
}

.Normal_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_1
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  clear: both;
  color: #0066CC;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: -.25in;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
}

.Heading_1_outer
{
  clear: both;
  margin-bottom: 3pt;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
}

.Heading_1_inner
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  color: #0066CC;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_2
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  clear: both;
  color: #0066CC;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: -.25in;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
}

.Heading_2_outer
{
  clear: both;
  margin-bottom: 3pt;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
}

.Heading_2_inner
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  color: #0066CC;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_3
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  clear: both;
  color: #0066CC;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: -.25in;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
}

.Heading_3_outer
{
  clear: both;
  margin-bottom: 3pt;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
}

.Heading_3_inner
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  color: #0066CC;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_5
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  clear: both;
  color: #0066CC;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: -.25in;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
}

.Heading_5_outer
{
  clear: both;
  margin-bottom: 3pt;
  margin-top: 12pt;
  padding-bottom: 5px;
  padding-top: 5px;
}

.Heading_5_inner
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  color: #0066CC;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body_Text_2
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 6pt;
  text-align: justify;
}

.Body_Text_2_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Body_Text_2_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body_Text
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3pt;
  margin-top: 6pt;
  text-align: justify;
}

.Body_Text_outer
{
  margin-bottom: 3pt;
  margin-top: 6pt;
}

.Body_Text_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Anchor
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2pt;
  margin-top: 2pt;
}

.Anchor_outer
{
  margin-bottom: 2pt;
  margin-top: 2pt;
}

.Anchor_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullets
{
  display: list-item;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .25in;
  margin-bottom: 2pt;
  margin-left: .25in;
  margin-top: 2pt;
  position: relative;
  text-align: justify;
  text-indent: -0.25in;
  white-space: normal;
}

.Bullets_outer
{
  margin-bottom: 2pt;
  margin-top: 2pt;
}

.Bullets_inner
{
  display: list-item;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .25in;
  position: relative;
  text-align: justify;
  white-space: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Callout
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: .025in;
  padding-top: auto;
  text-align: left;
  width: 1.0in;
}

.Callout_outer
{
  margin-bottom: auto;
  margin-right: auto;
  margin-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: .025in;
  padding-top: auto;
}

.Callout_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  width: 1.0in;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CallOutRight
{
  color: #808080;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: .025in;
  padding-top: auto;
  text-align: left;
  width: 1.0in;
}

.CallOutRight_outer
{
  margin-bottom: auto;
  margin-right: auto;
  margin-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: .025in;
  padding-top: auto;
}

.CallOutRight_inner
{
  color: #808080;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  width: 1.0in;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ChapterHead
{
  background-color: White;
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  clear: both;
  color: #0066CC;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: -.25in;
  margin-top: 0pt;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
}

.ChapterHead_outer
{
  background-color: White;
  clear: both;
  margin-bottom: 3pt;
  margin-top: 0pt;
  padding-bottom: 5px;
  padding-top: 5px;
}

.ChapterHead_inner
{
  background-position: -.45in bottom;
  background-repeat: no-repeat;
  color: #0066CC;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.BookType
{
  color: #auto;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3pt;
  margin-left: 36pt;
  margin-top: 6pt;
}

.BookType_outer
{
  margin-bottom: 3pt;
  margin-top: 6pt;
}

.BookType_inner
{
  color: #auto;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CopyrightBody
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3pt;
  margin-top: 6pt;
  text-align: justify;
}

.CopyrightBody_outer
{
  margin-bottom: 3pt;
  margin-top: 6pt;
}

.CopyrightBody_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Intro_002fGlossary_Head__002b_Bottom_003a__0028Single_solid_line_Auto__1_5____
{
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1.5pt;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 24pt;
  margin-top: 48pt;
}

.Intro_002fGlossary_Head__002b_Bottom_003a__0028Single_solid_line_Auto__1_5_____outer
{
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1.5pt;
  margin-bottom: 24pt;
  margin-top: 48pt;
}

.Intro_002fGlossary_Head__002b_Bottom_003a__0028Single_solid_line_Auto__1_5_____inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Anchor_Centered
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2pt;
  margin-top: 2pt;
  text-align: center;
}

.Anchor_Centered_outer
{
  margin-bottom: 2pt;
  margin-top: 2pt;
}

.Anchor_Centered_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AlphaStep
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .5in;
  margin-bottom: 3pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

.AlphaStep_outer
{
  margin-bottom: 3pt;
  margin-top: 6pt;
}

.AlphaStep_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .5in;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body_Text_3
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-align: justify;
}

.Body_Text_3_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Body_Text_3_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullets2
{
  display: list-item;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .5in;
  margin-bottom: 2pt;
  margin-left: .5in;
  margin-right: .25in;
  margin-top: 2pt;
  position: relative;
  text-align: justify;
  text-indent: -0.25in;
  white-space: normal;
}

.Bullets2_outer
{
  margin-bottom: 2pt;
  margin-right: .25in;
  margin-top: 2pt;
}

.Bullets2_inner
{
  display: list-item;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .5in;
  position: relative;
  text-align: justify;
  white-space: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellHeading
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0pt;
  margin-top: 2pt;
  text-align: left;
}

.CellHeading_outer
{
  margin-bottom: 0pt;
  margin-top: 2pt;
}

.CellHeading_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellBodyLeft
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0pt;
  margin-top: 2pt;
  text-align: left;
}

.CellBodyLeft_outer
{
  margin-bottom: 0pt;
  margin-top: 2pt;
}

.CellBodyLeft_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellBodyCenter
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0pt;
  margin-top: 2pt;
  text-align: center;
}

.CellBodyCenter_outer
{
  margin-bottom: 0pt;
  margin-top: 2pt;
}

.CellBodyCenter_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AnchorIndented
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2pt;
  margin-left: 36pt;
  margin-top: 2pt;
}

.AnchorIndented_outer
{
  margin-bottom: 2pt;
  margin-top: 2pt;
}

.AnchorIndented_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered
{
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .25in;
  margin-bottom: 3pt;
  margin-left: .25in;
  position: relative;
  text-align: justify;
  text-indent: -0.25in;
}

.Numbered_outer
{
  margin-bottom: 3pt;
}

.Numbered_inner
{
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .25in;
  position: relative;
  text-align: justify;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NumberedContinued
{
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .25in;
  margin-bottom: 3pt;
  margin-left: .25in;
  margin-top: 6pt;
  position: relative;
  text-align: justify;
  text-indent: 0in;
}

.NumberedContinued_outer
{
  margin-bottom: 3pt;
  margin-top: 6pt;
}

.NumberedContinued_inner
{
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: .25in;
  position: relative;
  text-align: justify;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Procedure_Lead-in
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Procedure_Lead-in_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Procedure_Lead-in_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CopyrightHeading
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.CopyrightHeading_outer
{
}

.CopyrightHeading_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AnchorCentered
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2pt;
  margin-top: 2pt;
  text-align: center;
}

.AnchorCentered_outer
{
  margin-bottom: 2pt;
  margin-top: 2pt;
}

.AnchorCentered_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Graphic
{
  background-position: center;
  border-bottom-color: Transparent;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: Transparent;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: Transparent;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: Transparent;
  border-top-style: none;
  border-top-width: 0px;
  font-family: Arial, Sans-Serif;
  font-size: 8pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2pt;
  margin-top: 6pt;
  text-align: center;
}

.Graphic_outer
{
  border-bottom-color: Transparent;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: Transparent;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: Transparent;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: Transparent;
  border-top-style: none;
  border-top-width: 0px;
  margin-bottom: 2pt;
  margin-top: 6pt;
}

.Graphic_inner
{
  background-position: center;
  font-family: Arial, Sans-Serif;
  font-size: 8pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_2_TOP
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3pt;
  margin-top: 0pt;
}

.Heading_2_TOP_outer
{
  margin-bottom: 3pt;
  margin-top: 0pt;
}

.Heading_2_TOP_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AnchorPageBrk
{
  font-family: Arial, Sans-Serif;
  font-size: 1pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1pt;
  margin-top: 1pt;
}

.AnchorPageBrk_outer
{
  margin-bottom: 1pt;
  margin-top: 1pt;
}

.AnchorPageBrk_inner
{
  font-family: Arial, Sans-Serif;
  font-size: 1pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Heading_2_Char_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}

span.Hyperlink
{
  color: Black;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  text-decoration: underline;
}

span.Bullets_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.Procedure_Lead-in_Char
{
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
}

span.ProcedureAction
{
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
}

span.Body_Text_Char1
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.Body_Text_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.Numbered_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.NumberedContinued_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.Body_Text_2_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.text-onlypopuphotspot
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

span.Caption_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
}

span.Heading_2_TOP_Char
{
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}

table.Table_Grid
{
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  margin-left: 0pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
  padding-right: 5.4pt;
  padding-top: 0pt;
  width: 100%;
}

table.Default
{
  border-collapse: collapse;
  width: 100%;
}

img.Default
{
  display: inline;
  padding-bottom: 6pt;
  padding-top: 6pt;
  z-index: 3;
}

