/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 9pt;
 font-family: 'Arial';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_CourierReg10 /* CourierReg10 */
{
 font-size: 10pt;
 font-family: 'Courier New';
 font-weight: bold;
}
span.f_CourierReg7 /* CourierReg7 */
{
 font-size: 7pt;
 font-family: 'Courier New';
 font-weight: bold;
}
span.f_CourierReg8 /* CourierReg8 */
{
 font-size: 8pt;
 font-family: 'Courier New';
 font-weight: bold;
}
span.f_CourierReg9 /* CourierReg9 */
{
 font-family: 'Courier New';
 font-weight: bold;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 13pt;
 font-weight: bold;
 color: #0000ff;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_Ind008Hang008MSReg10AltF5 /* Ind008Hang008MSReg10AltF5 */
{
}
span.f_Ind032Hang016MSReg10AltF4 /* Ind032Hang016MSReg10AltF4 */
{
}
span.f_Ind04F6 /* Ind04F6 */
{
}
span.f_Ind0Hang020MSReg10ShiftF4 /* Ind0Hang020MSReg10ShiftF4 */
{
}
span.f_Notes /* Notes */
{
}
span.f_Nowrap /* Nowrap */
{
 font-size: 10pt;
}
span.f_Symbol /* Symbol */
{
 font-size: 10pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial';
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
}
.p_CourierReg10 /* CourierReg10 */
{
 text-indent: -60px;
 white-space: nowrap;
 margin: 0px 0px 0px 60px;
}
.p_CourierReg7 /* CourierReg7 */
{
 text-indent: -60px;
 white-space: nowrap;
 margin: 0px 0px 0px 60px;
}
.p_CourierReg8 /* CourierReg8 */
{
 text-indent: -60px;
 white-space: nowrap;
 margin: 0px 0px 0px 60px;
}
.p_CourierReg9 /* CourierReg9 */
{
 text-indent: -60px;
 white-space: nowrap;
 margin: 0px 0px 0px 60px;
}
.p_Heading1 /* Heading1 */
{
}
.p_ImageCaption /* Image Caption */
{
}
.p_Ind008Hang008MSReg10AltF5 /* Ind008Hang008MSReg10AltF5 */
{
 text-indent: -10px;
 margin: 0px 0px 0px 20px;
}
.p_Ind032Hang016MSReg10AltF4 /* Ind032Hang016MSReg10AltF4 */
{
 text-indent: -19px;
 margin: 0px 0px 0px 57px;
}
.p_Ind04F6 /* Ind04F6 */
{
 margin: 0px 0px 0px 48px;
}
.p_Ind0Hang020MSReg10ShiftF4 /* Ind0Hang020MSReg10ShiftF4 */
{
 text-indent: -24px;
 margin: 0px 0px 0px 24px;
}
.p_Notes /* Notes */
{
}
.p_Nowrap /* Nowrap */
{
 white-space: nowrap;
}
.p_Symbol /* Symbol */
{
}
