/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 13px;
 font-family: 'Verdana';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_BodyText /* Body Text */
{
}
span.f_BodyText-Center /* Body Text - Center */
{
}
span.f_BodyText2 /* Body Text 2 */
{
}
span.f_Callouts /* Callouts */
{
}
span.f_CenteredHLine /* Centered H Line */
{
 font-size: 11px;
}
span.f_Code /* Code */
{
 font-family: 'Courier New';
}
span.f_Code-LastItem /* Code - Last Item */
{
 font-family: 'Courier New';
}
span.f_Code2 /* Code 2 */
{
 font-family: 'Courier New';
}
span.f_Code2-LastItem /* Code 2 - Last Item */
{
 font-family: 'Courier New';
}
span.f_Code3 /* Code 3 */
{
 font-family: 'Courier New';
}
span.f_Code3-LastItem /* Code 3 - Last Item */
{
 font-family: 'Courier New';
}
span.f_CodeExample /* Code Example */
{
 font-size: 11px;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_ControlHeading /* Control Heading */
{
 font-family: 'Arial';
 font-weight: bold;
}
span.f_ControlHeading2 /* Control Heading 2 */
{
 font-family: 'Arial';
 font-weight: bold;
}
span.f_ControlHeading3 /* Control Heading 3 */
{
 font-family: 'Arial';
 font-weight: bold;
}
span.f_ControlHeading4 /* Control Heading 4 */
{
 font-family: 'Arial';
 font-weight: bold;
}
span.f_ControlIndent /* Control Indent */
{
}
span.f_ControlIndent2 /* Control Indent 2 */
{
}
span.f_ControlIndent3 /* Control Indent 3 */
{
}
span.f_ControlIndent4 /* Control Indent 4 */
{
}
span.f_DialogSectionHeading /* Dialog Section Heading */
{
 font-weight: bold;
}
span.f_DialogSectionHeading2 /* Dialog Section Heading 2 */
{
 font-weight: bold;
}
span.f_Example /* Example */
{
 font-family: 'Courier New';
 letter-spacing: -1px;
}
span.f_ExampleIndent2 /* Example Indent2 */
{
 font-family: 'Courier New';
 letter-spacing: -1px;
}
span.f_ExampleIndent3 /* Example Indent3 */
{
 font-family: 'Courier New';
 letter-spacing: -1px;
}
span.f_FAQLinks /* FAQ Links */
{
 font-size: 12px;
 font-weight: bold;
}
span.f_Heading2Toggle /* Heading 2 Toggle */
{
 font-size: 17px;
 font-weight: bold;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 21px;
 font-weight: bold;
}
span.f_Heading1Toggle /* Heading1 Toggle */
{
 font-size: 21px;
 font-weight: bold;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 17px;
 font-weight: bold;
}
span.f_Heading2Sub /* Heading2 Sub */
{
 font-size: 15px;
 font-weight: bold;
}
span.f_Heading2Sub2 /* Heading2 Sub2 */
{
 font-size: 15px;
 font-weight: bold;
}
span.f_Heading3 /* Heading3 */
{
 font-size: 15px;
 font-weight: bold;
}
span.f_Heading32 /* Heading3 2 */
{
 font-size: 15px;
 font-weight: bold;
}
span.f_Heading4 /* Heading4 */
{
 font-weight: bold;
}
span.f_Heading4FAQ /* Heading4 FAQ */
{
 font-style: italic;
 font-weight: bold;
}
span.f_Heading4IconList /* Heading4 IconList */
{
 font-weight: bold;
}
span.f_Heading4Indent /* Heading4 Indent */
{
 font-weight: bold;
}
span.f_Heading4IndentNoBefore /* Heading4 Indent NoBefore */
{
 font-weight: bold;
}
span.f_Heading4Plain /* Heading4 Plain */
{
 font-weight: bold;
}
span.f_Heading5 /* Heading5 */
{
 font-size: 12px;
 font-weight: bold;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 12px;
 font-style: italic;
}
span.f_Indent4 /* Indent4 */
{
}
span.f_IndentListButtonList /* IndentList ButtonList */
{
 font-family: 'Arial';
}
span.f_IndentList1 /* IndentList1 */
{
}
span.f_IndentList115 /* IndentList1 1.5" */
{
}
span.f_IndentList115Callout /* IndentList1 1.5" Callout */
{
 letter-spacing: -1px;
}
span.f_IndentList1Header /* IndentList1 Header */
{
 font-weight: bold;
}
span.f_Indentlist1Larger /* Indentlist1 Larger */
{
}
span.f_IndentList115 /* IndentList1+ 1.5" */
{
}
span.f_IndentList2Callout /* IndentList2 Callout */
{
 letter-spacing: -1px;
}
span.f_IndentList2Noafter /* IndentList2 Noafter */
{
 font-family: 'Arial';
}
span.f_IndentList2Note /* IndentList2 Note */
{
 font-family: 'Arial';
}
span.f_IndentList2QA /* IndentList2 QA */
{
 font-family: 'Arial';
 font-style: italic;
 font-weight: bold;
}
span.f_IndentList3 /* IndentList3 */
{
 font-family: 'Arial';
}
span.f_IndentList3Buttons /* IndentList3 Buttons */
{
 font-family: 'Arial';
}
span.f_IndentList3Callout /* IndentList3 Callout */
{
 letter-spacing: -1px;
}
span.f_IndentList3noafter /* IndentList3noafter */
{
 font-size: 15px;
 font-family: 'Arial';
}
span.f_IndentList4Callout /* IndentList4 Callout */
{
 letter-spacing: -1px;
}
span.f_InThisTopicHeading /* InThisTopic Heading */
{
 font-weight: bold;
 color: #ffffff;
 letter-spacing: -1px;
 text-transform: uppercase;
}
span.f_InThisTopicLinkList /* InThisTopic LinkList */
{
 letter-spacing: -1px;
}
span.f_List1 /* List 1 */
{
}
span.f_List1-ContText /* List 1 - Cont Text */
{
}
span.f_List1-LastItem /* List 1 - Last Item */
{
}
span.f_List12 /* List 1 2 */
{
}
span.f_List12-ContText /* List 1 2 - Cont Text */
{
}
span.f_List12-LastItem /* List 1 2 - Last Item */
{
}
span.f_List2 /* List 2 */
{
}
span.f_List2-Heading /* List 2 - Heading */
{
 font-family: 'Arial';
 font-weight: bold;
}
span.f_List2-LastItem /* List 2 - Last Item */
{
}
span.f_MenuPath /* MenuPath */
{
 font-family: 'Trebuchet MS';
 letter-spacing: 1px;
}
span.f_NoFormat /* No Format */
{
 font-size: 11px;
 font-family: 'Arial';
}
span.f_NormalCenter /* Normal (Center) */
{
}
span.f_NormalHead /* Normal Head */
{
 font-weight: bold;
}
span.f_NormalHeadIndent1 /* Normal Head Indent1 */
{
 font-weight: bold;
}
span.f_NormalNoAfter /* Normal NoAfter */
{
}
span.f_Notes /* Notes */
{
}
span.f_Notesimgfloat /* Notes (img float) */
{
}
span.f_NotesBox /* NotesBox */
{
}
span.f_PlainText /* Plain Text */
{
 font-family: 'Courier New';
}
span.f_PopupBox /* Popup Box */
{
 font-size: 12px;
}
span.f_SeeAlso /* SeeAlso */
{
 font-size: 12px;
 font-weight: bold;
}
span.f_SeeAlsoLinks /* SeeAlso Links */
{
 font-size: 12px;
 font-weight: bold;
}
span.f_SettingsLocationFoot /* Settings Location Foot */
{
 font-size: 12px;
 font-family: 'Times New Roman';
 font-weight: bold;
}
span.f_SettingsLocationHead /* Settings Location Head */
{
 font-size: 12px;
 font-weight: bold;
}
span.f_SyntaxTableHeading /* SyntaxTable Heading */
{
 font-size: 16px;
 font-weight: bold;
 letter-spacing: -1px;
}
span.f_T_Code /* T_Code */
{
 font-size: 15px;
 font-family: 'Courier New';
 letter-spacing: -1px;
}
span.f_T_Entry /* T_Entry */
{
 font-size: 15px;
 font-style: italic;
 letter-spacing: -1px;
}
span.f_T_Entry10pt /* T_Entry 10pt */
{
 font-style: italic;
 letter-spacing: -1px;
}
span.f_T_Menu /* T_Menu */
{
 font-size: 15px;
 font-family: 'Times New Roman';
 font-weight: bold;
}
span.f_T_Menu10p /* T_Menu 10p */
{
 font-family: 'Times New Roman';
 font-weight: bold;
}
span.f_TableText /* Table Text */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_BodyText /* Body Text */
{
 margin: 0px 10px 12px 10px;
}
.p_BodyText-Center /* Body Text - Center */
{
 text-align: center;
 margin: 0px 10px 12px 10px;
}
.p_BodyText2 /* Body Text 2 */
{
 margin: 0px 10px 12px 34px;
}
.p_Callouts /* Callouts */
{
}
.p_CenteredHLine /* Centered H Line */
{
 text-align: center;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 margin: 14px 96px 0px 96px;
}
.p_Code /* Code */
{
 margin: 0px 0px 0px 34px;
}
.p_Code-LastItem /* Code - Last Item */
{
 margin: 0px 0px 12px 34px;
}
.p_Code2 /* Code 2 */
{
 margin: 0px 0px 0px 58px;
}
.p_Code2-LastItem /* Code 2 - Last Item */
{
 margin: 0px 0px 12px 58px;
}
.p_Code3 /* Code 3 */
{
 margin: 0px 0px 0px 82px;
}
.p_Code3-LastItem /* Code 3 - Last Item */
{
 margin: 0px 0px 12px 82px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
 text-align: center;
}
.p_ControlHeading /* Control Heading */
{
 margin: 5px 5px 0px 34px;
}
.p_ControlHeading2 /* Control Heading 2 */
{
 margin: 5px 5px 0px 58px;
}
.p_ControlHeading3 /* Control Heading 3 */
{
 margin: 5px 5px 0px 82px;
}
.p_ControlHeading4 /* Control Heading 4 */
{
 margin: 5px 5px 0px 106px;
}
.p_ControlIndent /* Control Indent */
{
 margin: 0px 5px 14px 34px;
}
.p_ControlIndent2 /* Control Indent 2 */
{
 margin: 0px 5px 14px 58px;
}
.p_ControlIndent3 /* Control Indent 3 */
{
 margin: 0px 5px 14px 82px;
}
.p_ControlIndent4 /* Control Indent 4 */
{
 margin: 0px 5px 14px 106px;
}
.p_DialogSectionHeading /* Dialog Section Heading */
{
 margin: 8px 6px 5px 10px;
}
.p_DialogSectionHeading2 /* Dialog Section Heading 2 */
{
 margin: 8px 5px 5px 34px;
}
.p_Example /* Example */
{
 border-color: #e9e9e9;
 border-style: solid;
 border-width: 5px;
 background: #eaeaea;
 margin: 10px 0px 19px 0px;
}
.p_ExampleIndent2 /* Example Indent2 */
{
 border-color: #e9e9e9;
 border-style: solid;
 border-width: 5px;
 background: #eaeaea;
 margin: 10px 0px 19px 29px;
}
.p_ExampleIndent3 /* Example Indent3 */
{
 border-color: #e9e9e9;
 border-style: solid;
 border-width: 5px;
 background: #eaeaea;
 margin: 10px 0px 19px 60px;
}
.p_FAQLinks /* FAQ Links */
{
 margin: 0px 100px 5px 45px;
}
.p_Heading2Toggle /* Heading 2 Toggle */
{
 text-indent: -18px;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 padding: 3px 3px 3px 3px;
 margin: 15px -3px 2px 29px;
}
.p_Heading1 /* Heading1 */
{
}
.p_Heading1Toggle /* Heading1 Toggle */
{
 text-indent: -18px;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 padding: 3px 3px 3px 3px;
 margin: 9px -3px 2px 27px;
}
.p_Heading2 /* Heading2 */
{
 margin: 12px 0px 5px 10px;
}
.p_Heading2Sub /* Heading2 Sub */
{
 margin: 5px 0px 5px 29px;
}
.p_Heading2Sub2 /* Heading2 Sub2 */
{
 margin: 5px 0px 5px 60px;
}
.p_Heading3 /* Heading3 */
{
 margin: 10px 0px 5px 10px;
}
.p_Heading32 /* Heading3 2 */
{
 margin: 10px 0px 5px 34px;
}
.p_Heading4 /* Heading4 */
{
 margin: 8px 0px 0px 10px;
}
.p_Heading4FAQ /* Heading4 FAQ */
{
 margin: 0px 0px 0px 10px;
}
.p_Heading4IconList /* Heading4 IconList */
{
 text-indent: -48px;
 margin: 0px 0px 0px 60px;
}
.p_Heading4Indent /* Heading4 Indent */
{
 margin: 10px 0px 0px 29px;
}
.p_Heading4IndentNoBefore /* Heading4 Indent NoBefore */
{
 margin: 0px 0px 0px 29px;
}
.p_Heading4Plain /* Heading4 Plain */
{
 margin: 0px 0px 0px 10px;
}
.p_Heading5 /* Heading5 */
{
 margin: 8px 0px 0px 20px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_Indent4 /* Indent4 */
{
 margin: 0px 0px 0px 80px;
}
.p_IndentListButtonList /* IndentList ButtonList */
{
 text-indent: -154px;
 margin: 0px 0px 0px 183px;
}
.p_IndentList1 /* IndentList1 */
{
 text-indent: -200px;
 margin: 0px 0px 0px 230px;
}
.p_IndentList115 /* IndentList1 1.5" */
{
 text-indent: -144px;
 margin: 0px 0px 0px 173px;
}
.p_IndentList115Callout /* IndentList1 1.5" Callout */
{
 text-indent: -23px;
 margin: 0px 110px 0px 197px;
}
.p_IndentList1Header /* IndentList1 Header */
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 3px 3px 3px 3px;
 margin: 7px -3px 16px 27px;
}
.p_Indentlist1Larger /* Indentlist1 Larger */
{
 text-indent: -174px;
 margin: 0px 0px 0px 234px;
}
.p_IndentList115 /* IndentList1+ 1.5" */
{
 text-indent: -100px;
 margin: 0px 0px 0px 160px;
}
.p_IndentList2Callout /* IndentList2 Callout */
{
 text-indent: -23px;
 margin: 0px 149px 0px 52px;
}
.p_IndentList2Noafter /* IndentList2 Noafter */
{
}
.p_IndentList2Note /* IndentList2 Note */
{
 text-indent: -59px;
 margin: 0px 0px 0px 88px;
}
.p_IndentList2QA /* IndentList2 QA */
{
 margin: 0px 0px 0px 20px;
}
.p_IndentList3 /* IndentList3 */
{
 margin: 0px 0px 0px 60px;
}
.p_IndentList3Buttons /* IndentList3 Buttons */
{
 text-indent: -31px;
 margin: 0px 0px 0px 84px;
}
.p_IndentList3Callout /* IndentList3 Callout */
{
 text-indent: -23px;
 margin: 0px 100px 0px 83px;
}
.p_IndentList3noafter /* IndentList3noafter */
{
 margin: 0px 0px 0px 60px;
}
.p_IndentList4Callout /* IndentList4 Callout */
{
 text-indent: -23px;
 margin: 0px 100px 0px 103px;
}
.p_InThisTopicHeading /* InThisTopic Heading */
{
 text-align: center;
 white-space: nowrap;
}
.p_InThisTopicLinkList /* InThisTopic LinkList */
{
 white-space: nowrap;
}
.p_List1 /* List 1 */
{
 text-indent: -20px;
 margin: 0px 10px 9px 54px;
}
.p_List1-ContText /* List 1 - Cont Text */
{
 margin: 0px 10px 9px 54px;
}
.p_List1-LastItem /* List 1 - Last Item */
{
 text-indent: -20px;
 margin: 0px 10px 14px 54px;
}
.p_List12 /* List 1 2 */
{
 text-indent: -20px;
 margin: 0px 10px 9px 78px;
}
.p_List12-ContText /* List 1 2 - Cont Text */
{
 margin: 0px 10px 9px 58px;
}
.p_List12-LastItem /* List 1 2 - Last Item */
{
 text-indent: -20px;
 margin: 0px 10px 14px 78px;
}
.p_List2 /* List 2 */
{
 text-indent: -20px;
 margin: 0px 10px 9px 95px;
}
.p_List2-Heading /* List 2 - Heading */
{
 margin: 0px 5px 10px 52px;
}
.p_List2-LastItem /* List 2 - Last Item */
{
 text-indent: -20px;
 margin: 0px 10px 14px 95px;
}
.p_MenuPath /* MenuPath */
{
 margin: 0px 10px 12px 10px;
}
.p_NoFormat /* No Format */
{
 white-space: nowrap;
}
.p_NormalCenter /* Normal (Center) */
{
 text-align: center;
 margin: 0px 10px 12px 10px;
}
.p_NormalHead /* Normal Head */
{
 margin: 5px 0px 5px 0px;
}
.p_NormalHeadIndent1 /* Normal Head Indent1 */
{
 margin: 5px 0px 5px 30px;
}
.p_NormalNoAfter /* Normal NoAfter */
{
}
.p_Notes /* Notes */
{
 margin: 3px 14px 11px 0px;
}
.p_Notesimgfloat /* Notes (img float) */
{
 margin: 3px 14px 11px 14px;
}
.p_NotesBox /* NotesBox */
{
 margin: 10px 0px 0px 0px;
}
.p_PopupBox /* Popup Box */
{
}
.p_SeeAlso /* SeeAlso */
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 padding: 4px 4px 4px 4px;
 margin: 15px -4px 6px -4px;
}
.p_SeeAlsoLinks /* SeeAlso Links */
{
 margin: 6px 0px 0px 20px;
}
.p_SettingsLocationFoot /* Settings Location Foot */
{
 text-align: center;
 margin: 0px 0px 10px 0px;
}
.p_SettingsLocationHead /* Settings Location Head */
{
 text-align: center;
 margin: 19px 0px 10px 0px;
}
.p_SyntaxTableHeading /* SyntaxTable Heading */
{
 text-align: center;
 white-space: nowrap;
}
.p_TableText /* Table Text */
{
}
