<HTML dir="ltr">

<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83731338-2"></script><script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-83731338-2');</script><title> Component Class</title>
<style>@import url(stylesheets/msdn_ie4.css);</style>
<link disabled rel="stylesheet" href="stylesheets/msdn_ie3.css">
</head>

<BODY>

<p><A NAME="com.ms.wfc.core.Component"></A></p>



<P>
<A HREF="com.ms.wfc.core.Component_m.html">Methods</A> | <a HREF="package-com.ms.wfc.core.html">This Package</a> | <a HREF="packages.html">All Packages</a>
<h1>Component Class</h1>
 </p>

<p>Represents the base class for all components.</p>

<p><b>package com.ms.wfc.core </b></p>

<p><b>public class Component <br>
implements </b><A HREF="com.ms.wfc.core.IComponent.html">IComponent</A><b>, </b><A HREF="com.ms.wfc.core.IResourceLoader.html">IResourceLoader</A><b> </b></p>

<p class="label">Remarks</p>

<p>A component can be hosted in a container. For each component in a container, the
container creates a site that it uses to manage the component.</p>

<p>For components that are also controls, WFC defines the <A HREF="com.ms.wfc.ui.Control.html">com.ms.wfc.ui.Control</A> class, which extends <b>Component</b>.
Each WFC control extends <b>Control</b>. </p>

<p><b>See Also</b>&nbsp;&nbsp; <A HREF="com.ms.wfc.core.IContainer.html">IContainer</A>,
<A HREF="com.ms.wfc.core.IComponentSite.html">IComponentSite</A> </p>

</BODY>
</HTML>
