/*<meta />*/

/* IDs used for displaying animating video boxes */

/* Note, path, tip styles. */

/*Styles for lists */

body
{
	font-family: Arial;
	line-height: 110%;
}

img
{
	border: none;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #262626;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #262626;
}

h1
{
	font-weight: bold;
	font-size: 20.0pt;
	font: verdana;
	line-height: 110%;
	color: #262626;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	font: verdana;
	line-height: 110%;
	color: #262626;
}

h3
{
	font-weight: bold;
	line-height: 110%;
	font-size: 14pt;
	color: #262626;
}

h4
{
	font-weight: bold;
	font-size: 11.0pt;
	line-height: 110%;
	color: #262626;
}

p
{
	font-size: 10.0pt;
	margin-top: 0pt;
	margin-bottom: 1em;
	color: #000000;
}

ol,
ul
{
	font-size: 10.0pt;
	margin-top: 0px;
	margin-bottom: .5em;
	line-height: 140%;
}

ul
{
	list-style-image: url('../Template_IMG/triangle.png');
}

li ol
{
	list-style-type: lower-alpha;
}

li ol li ol
{
	list-style-type: lower-roman;
}

li ul
{
	list-style-image: url('../Template_IMG/square.png');
}

li ul li ul
{
	list-style-image: url('../Template_IMG/diamond.png');
}

#videoBox
{
	display: none;
}

#hideVideo
{
	display: none;
}

#hideButton
{
	display: none;
}

#displayVideoContent
{
	display: none;
	padding: 4px;
	background: #fff;
	border: 4px solid #ddd;
	margin: 10px auto;
	width: 10px auto;
}

/*background-color: #dcdcdc; */

.video
{
	margin-left: auto;
	margin-right: auto;
	background-color: #CCC;
	color: #CCC;
}

div.note
{
	font-size: 10.0pt;
	font: arial;
	background-color: #F2F2F2;
	background-image: url('../Template_IMG/notes20px.png');
	background-repeat: no-repeat;
	background-position: 2px 5px;
	padding-left: 25px;
	padding-top: 10px;
	padding-right: 10px;
	border: solid 1px #696969;
	margin: 25px;
	line-height: 125%;
}

div.path
{
	font-size: 10.0pt;
	font: arial;
	background-color: #F2F2F2;
	background-image: url('../Template_IMG/path20px.png');
	background-repeat: no-repeat;
	background-position: 2px 5px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	border: solid 1px #696969;
	line-height: 125%;
	margin: 25px;
}

div.tip
{
	font-size: 10.0pt;
	font: arial;
	background-color: #F2F2F2;
	background-image: url('../Template_IMG/tip20px.png');
	background-repeat: no-repeat;
	background-position: 2px 5px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	border: solid 1px #696969;
	line-height: 125%;
	margin: 25px;
}

/* Styling the breadcrumbs div to change how links appear in breadcrumbs. */

div.important
{
	font-size: 10.0pt;
	font: arial;
	background-color: #F2F2F2;
	background-image: url('../Template_IMG/important20px.png');
	background-repeat: no-repeat;
	background-position: 2px 5px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	border: solid 1px #696969;
	line-height: 125%;
	margin: 25px;
}

div.code
{
	font-size: 11.0pt;
	background-color: #dcdcdc;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	border: solid 1px #696969;
	margin: 25px;
	line-height: 150%;
	font-family: monospace;
}

ol div.code,
ul div.code
{
	margin-top: 10px;
	margin-bottom: 10px;
}

ol div.note,
ul div.note
{
	margin-top: 10px;
	margin-bottom: 10px;
}

ol div.tip,
ul div.tip
{
	margin-top: 10px;
	margin-bottom: 10px;
}

ol div.important,
ul div.important
{
	margin-top: 10px;
	margin-bottom: 10px;
}

ol div.path,
ul div.path
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.TSC_footer
{
	clear: both;
}

MadCap|xref
{
	color: #262626;
}

table
{
	font-family: sans-serif;
	font: arial;
	font-size: 10pt;
	margin: 5px 20px 15px 20px;
}

th,
td
{
	border: 1px solid #333;
	padding: 5px 5px 5px 5px;
}

th
{
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	background-color: #595959;
}

.TSC_footer a:link
{
	font-size: 10.0pt;
	color: #58595b;
	text-decoration: none;
	font-weight: bold;
}

.TSC_footer a:visited
{
	font-size: 10.0pt;
	color: #58595b;
	text-decoration: none;
	font-weight: bold;
}

.TSC_footer a:hover
{
	font-size: 10.0pt;
	color: #58595b;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
}

#toolbar_float
{
	float: right;
}

#breadcrumbs a:link
{
	color: #262626;
	text-decoration: none;
	font-weight: normal;
}

#breadcrumbs a:visited
{
	color: #262626;
	text-decoration: none;
	font-weight: normal;
}

#breadcrumbs a:hover
{
	text-decoration: underline;
	font-weight: normal;
}

MadCap|breadcrumbsProxy
{
	border-bottom-style: none;
	font-size: 10pt;
	mc-breadcrumbs-prefix: ' ';
	mc-breadcrumbs-count: 4;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 30px;
	mc-breadcrumbs-divider: ' : ';
	color: #262626;
}

#body_content
{
	margin-left: 25px;
}

.floatClear
{
	clear: both;
}

.floatClearLeft
{
	clear: left;
}

.floatClearRight
{
	clear: right;
}

#surveyContainer a:link
{
	font-size: 10.0pt;
	color: #58595b;
	text-decoration: none;
	font-weight: bold;
}

#surveyContainer a:hover
{
	font-size: 10.0pt;
	color: #58595b;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
}

MadCap|xref
{
	color: #0073d0;
	text-decoration: none;
	font-weight: bold;
	mc-format: '{paratext}';
}

MadCap|xref:hover
{
	text-decoration: underline;
	color: #ef8200;
}

MadCap|xref:visited
{
	text-decoration: none;
	font-weight: bold;
	color: #0073d0;
}

@media print
{
	h2
	{
		mc-heading-level: 2;
	}

	h4
	{
		mc-heading-level: 0;
	}

	h3
	{
		
	}
}

MadCap|xref:focus
{
	color: #ef8200;
}

a
{
	color: #0073d0;
}

p.IndexHeading
{
	color: #262626;
}

p.ListOf
{
	color: #262626;
}

p.MiniTOC1
{
	color: #262626;
}

p.MiniTOC2
{
	color: #262626;
}

p.TOC1
{
	color: #262626;
}

p.TOC2
{
	color: #262626;
}

a.MCBreadcrumbsLink
{
	color: #262626;
}

MadCap|conceptLink
{
	color: #262626;
}

MadCap|keywordLink
{
	color: #ef8200;
}

MadCap|relatedTopics
{
	color: #ef8200;
}

MadCap|toggler
{
	color: #262626;
}

MadCap|shortcut
{
	color: #262626;
}

MadCap|glossaryTerm
{
	color: #262626;
}

a:link
{
	text-decoration: none;
	font-weight: bold;
	color: #0073d0;
}

a:visited
{
	text-decoration: none;
	font-weight: bold;
	color: #0073d0;
}

a:focus
{
	color: #ef8200;
}

a:hover
{
	text-decoration: underline;
	font-weight: bold;
	color: #ef8200;
}

a:active
{
	color: #767676;
}

