p {
	text-indent: 1.5em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  margin-top: 0.5em;
	margin-bottom: 0em;
}

.noindent {
  text-indent: 0em;
}

/* page title */
.title {
	font-size: large;
	font-weight: bold;
	color: #0066FF;
}

/* sample text */
.sample {
	font-weight: bold;
	font-family: "Lucida Console";
  margin-top: 0.5em;
}

ul {
	font-family: Geneva, Arial, Helvetica, sans-serif;
  margin-top: 0.5em;
	margin-bottom: 0em;
}
a:link {
	color: #0000CC;
}
a:visited {
	color: #0000CC;
}
a:hover {
	color: #0000CC;
	background-color: #BBFFFF;
}
li {
	font-family: Geneva, Arial, Helvetica, sans-serif;
  margin-top: 0.5em;
}
td {
	font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 0.5em;
}
table.densetab td {
  padding: 0.1em;
}
h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: larger;
	font-style: italic;
	font-weight: bold;
	text-indent: 0em;
}
.faq-q {
	margin-top: 1em;
}
ol {
	margin-top: 0em;
	margin-bottom: 0em;
}
.faq-a {
}
