/*Created with Adobe RoboHelp.*/
P {
	font-family: Arial;
	font-size: 10.0pt;
	color: #000000;
	margin-top: 7.0pt;
	margin-bottom: 0.0pt;
}
LI.P {
	font-family: Arial;
	font-size: 10.0pt;
	color: #000000;
}
H1 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #800000;
	border-bottom: solid #000000 0.5pt;
	margin-top: 0.0;
	margin-bottom: 12.0pt;
	padding-bottom: 1.0pt;
}
LI.H1 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #800000;
}
H2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000080;
}
LI.H2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000080;
}
H2.Heading2gGlossary {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000080;
	margin-bottom: auto;
}
LI.H2-Heading2gGlossary {
	font-family: Arial;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000080;
}
P.LinkLeader {
	margin-top: 6.0pt;
}
LI.P-LinkLeader {
}
P.LinkList {
	margin-top: 0.0pt;
	margin-bottom: 0.0pt;
}
LI.P-LinkList {
}
P.Table {
	color: #0000ff;
	margin-top: 0.0pt;
}
LI.P-Table {
	color: #0000ff;
}
P.TableBlack {
	color: #000000;
	margin-top: 0.0pt;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0;
}
LI.P-TableBlack {
	color: #000000;
	font-style: italic;
	font-weight: normal;
}
P.GlossaryEntry {
	margin-left: 10.0pt;
	margin-top: 0.0pt;
}
LI.P-GlossaryEntry {
}
P.GlossaryTitle {
	font-weight: bold;
	color: #000080;
	margin-top: 6.0pt;
}
LI.P-GlossaryTitle {
	font-weight: bold;
	color: #000080;
}
A:link {
	color: #000080;
}
A:visited {
	color: #800000;
}
BODY {
	font-family: Arial;
	background-color: #ffffff;
}
/*added by Blake to correct symbol font problem on non-ASCII systems*/
LI {
	font-family: Arial;
	font-size: 10.0pt;
	margin-left: -0.25in;
}
/*move list to the left to align with the rest of the page*/

H3 {
	font-weight: bold;
	font-size: 10.0pt;
	color: #000080;
}
LI.H3 {
	font-weight: bold;
	font-size: 10.0pt;
	color: #000080;
}
A.expandspot {
	cursor: hand;
	color: #008000;
	font-style: normal;
}
SPAN.expandtext {
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}
A.dropspot {
	font-style: italic;
	cursor: hand;
	color: #008000;
}
A.glossterm {
	cursor: hand;
	color: #800000;
	font-style: normal;
}
SPAN.glosstext {
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}
