.docBookTitle, .docPartTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:114%; line-height:118%; font-weight:bold; }
.docPrefaceTitle, .docAppendixTitle, .docChapterTitle, .docBibliographyTitle, .docArticleTitle, .docGlossaryTitle
	{ font-weight:bold; }
.docSidebarTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:86%; font-weight:bold; }
.docSection1Title, .docBibliodivTitle, .docBridgehead
	{ }
.docSection2Title, .docBibliosetTitle
	{ }
.docSection3Title, .docSection4Title, .docSection5Title, 
	{ font-weight:bold; }

.docFigureTitle, .docTableTitle, .docExampleTitle, .docTocTitle, .docAbstractTitle, .docQandasetTitle, .docProcTitle, .docRefsectTitle
	{
	font-size: 100%;
	color: #000000;
}


/* -- .docText and .docList were using identical styles causing nesting issues -- */

.docText
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:73%; line-height:130%; }
.docList
	{ }
.docList ol
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:100%; line-height:130%; }
.docList li
	{ }
.docList p
	{ }
.docList table
	{ }
.docList h5
	{ }

.docList h2
	{ font-size:100%; }

.docMonofont
	{ color:#790029; font-family:Andale Mono, Courier New, Courier, monospace; font-size:110%; }

.docTableHeader, .docTableCell
	{ }
.docTableFooter
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:90%; }

.docRefCell
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:77%; }

.docTextHighlight
	{ background-color:#FFEE99; color:#CC0000; }
.docIndexterm
	{ color:#333333; font-size:75%; }

.docFootnote { color:#666666; font-size:12px; }
	
.docItemizedlist
	{ font-family:Verdana,Arial,Helvetica,sans-serif; }


.docNote
	{ blockquote margin-top:2em; margin-right:2em; margin-bottom:2em; margin-left:2em; }


.docNoteTitle
	{
	font-weight: bold;
}
.docNormalTitle, .docTipTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:77%; font-weight:bold; }
.docCautionsTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#CC0000; font-size:77%; font-weight:bold; }


.docLink
	{ color:#003399; }
.docLink:visited
	{ color:#3366CC; }
.docLink:hover
	{ color:#000033; }


.docEmphasis
	{ font-style:italic; }
.docEmphBold, .docEmphStrong
	{ font-weight:bold; }
.docEmphGray
	{ color:#999999; }
.docEmphMark
	{ background-color:#999999; }
.docEmphRev
	{ color:#FFFFFF; background-color:#666666; }
.docEmphStrike
	{ text-decoration:line-through; }
.docEmphUl, .docEmphCursor
	{ border-bottom-width:2px; border-bottom-style:solid; border-bottom-color:#000000;}
.docEmphBoldItalic
	{ font-style:italic; font-weight:bold; }
.docEmphRoman
	{ font-style:normal; text-decoration:none; text-transform:none; font-weight:normal; font-variant:normal; }
.docEmphSmaller
	{ color:#333333; font-size:smaller; }
.docEmphHyperlink
	{ color:black; }


.docCaps
	{ text-transform:uppercase; }

.docStructname
	{ font-variant:small-caps; }

.docPubcolor
	{ color:#333333; }




h1, h2, h3, h4, h5, h6 { color:#114AA1; }
 
pre {
	font-family:"Courier New", Courier, mono;
	line-height: 120%;
	background-color: #eeeeee;
	margin: 24pt;
	padding: 12pt;
}
tt { font-family:"Courier New", Courier, mono; font-size:100%; }
