BODY
{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
}

/* -- Added by Rich -- */
/* -- InformIT Styles --  */
	.td { }

	.networklink {color: #454B55; font-size: 66%}
	.networklink a, .networklink a:visited {color:#454B55}
	.networklink a:hover {color:#000000}

	.copyright {color:#FFFFFF; font-size: 66%}
	.copyright a, .copyright a:visited {color:#FFFFFF}
	.copyright a:hover {color:#000000}

/* -- End added styles -- */

/* -- Edited 08/28/02 --*/
.hdr1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding-left: 2px;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
	color: #0A0A0A;
	vertical-align: middle;
	line-height: 12px;
}

/* -- Edited 08/27/02 --*/
.v1 { font-family: Arial, Helvetica, sans-serif; font-size: 77%; }
.v1 a:link { color : #003399; }
.v1 a:hover { color : #000033; }

/* -- Edited 08/27/02 --*/
/* -- Left Nav, Browse by Category -- */
/* -- Home page content? May be changed -- */
.v2 { font-family: Arial, Helvetica, sans-serif; font-size: 66%; line-height: 133%; }
.v2 a:link, .v2 a:visited { color : #003399; }
.v2 a:hover { color : #000033; }

.v3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration : none;
	color : #4B4B4B;
}

.v3:link {
	text-decoration : none;
	color : #303030;
}

.v3:hover {
	text-decoration : underline;
	color : #9E0B0E;
}

/* -- Edited 09/04/02 -- */
/* -- Left Nav, Browse by Category, active category -- */
.v4 { font-family: Arial, Helvetica, sans-serif; font-size: 66%; font-weight: bold; color : #000000; line-height: 133%; }
.v4 a:link, .v4 a:visited  { font-weight: bold; text-decoration : none;  color : #000000; }
.v4 a:hover {font-weight: bold; text-decoration : underline; color : #000000; }

/* -- Edited 09/04/02 -- */
/* -- Used for left and right nav VERY SMALL text -- */
.a1 { font-size: 66%; }
.a1 a:link, .a1 a:visisted { text-decoration : underline; color : #666666; }
.a1 a:hover { text-decoration : underline; color : #000000; }

/* -- Edited 09/04/02 -- */
/* -- Used for left and right nav SMALL text -- */
.a2 { font-family: Arial, Helvetica, sans-serif; font-size: 66%; color : #666666; text-decoration : none; }
.a2 a:link { text-decoration : underline; color : #666666; }
.a2 a:hover { text-decoration : underline; color : #000000; }


.a3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	color : #4B4B4B;
	text-decoration : none;
}

.a3:link {
	text-decoration : underline;
	color : #4B4B4B;
}

.a3:hover {
	text-decoration : underline;
	color : #9E0B0E;
}

.a4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color : #222222;
	line-height: 18px;

	}


.entrybox1 {
	border: 1px solid #E7D68E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* -- Edited 08/27/02 -- */
.navbtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight : bold;
	color : #FFFFFF;
	text-decoration : none;
  background-color: #BA8600;
}

/* -- Edited 09/26/02 -- */
.navbtn:hover { color:#000000; text-decoration: none; }

.navbtnSel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight : bold;
	color : #FFFFFF;
	text-decoration : none;
  background-color: #000000;
}

/* -- Edited 09/26/02 -- */
.navbtnSel:hover { color:#BA8600; text-decoration: none; }

/* -- Edited 08/27/02 -- */
.logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color : #FFFFFF;
	text-decoration : none;
  background-color: #BA8600;
}

/* -- Edited 08/27/02 -- */
.logout:hover {
}



.n1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color : #303030;
	line-height: 16px;
	text-decoration : none;
	padding: 7px;

}

/* -- EDITED 09/13/02 -- */
/* -- 't' series is for titles, and supporting biblio info and descriptions -- */
.t1 { font-family: Arial, Helvetica, sans-serif; font-size: 114%; font-weight:bold; line-height: 118%}
.t2 { font-size: 66%; line-height: 135%}
.t2 a { color:#003399; }
.t2 a:hover { color:#000033; }
.t2 a:visited { color:#003399; }

/* -- Edited 08/27/02 -- */
/* -- Subscriber Log In -- */
.t3 { font-family: Arial, Helvetica, sans-serif; font-size: 70%; font-weight : bold; background-color: #BA8600; color: #FFFFFF; }

/* -- Edited 08/27/02 -- */
/* -- Corporate License -- */
/* -- Rave Reviews -- */
.t4 { font-family: Arial, Helvetica, sans-serif; font-size: 70%; font-weight : bold; text-decoration : none; background-color: #BA8600; color: #FFFFFF; }

/* -- Edited 09/06/02 -- */
/* -- Used for table headers -- */
.t5 { font-family: Arial, Helvetica, sans-serif; font-size: 66%; font-weight : bold; text-decoration : none; color: #000000; background-color: #EDB933; }





/* -- Edited 08/27/02 -- */	
.dlg { background-color: #EEEEEE; }

.bg
{
  background-color: #ffffff;
}

/* -- Edited 08/27/02 -- */
.menuRight { background-color: #666666; }

/* -- Edited 08/27/02 -- */
.toplogo { background-color: #A3A8B1; }

/* -- Edited 08/27/02 -- */
.topmenu { background-color: #000000; }

/* -- Edited 09/13/02 -- */	
.toc { background-color: #F6DD99; }

/* -- Edited 08/27/02 -- */	
.menuLeft { background-color: #666666; }




















.Top5Border {
  background-color: #666666;
}
	
.Top5EvenRows {
}

.Top5OddRows {
}

.Top5TableHeading {
}


.NewThisWeekBorder {
  background-color: #666666;
}

.NewThisWeekEvenRows {
}

.NewThisWeekOddRows {
}

.NewThisWeekTableHeading {
}


.MyRecentPagesBorder {
	background-color: #666666;
}

.MyRecentPagesEvenRows {
}

.MyRecentPagesOddRows {
}

.MyRecentPagesTableHeading {
	background-color: #EEEEEE;
}


.RecommendedTitlesBorder {
  background-color: #666666;
}

.RecommendedTitlesEvenRows {
}

.RecommendedTitlesOddRows {
}

.RecommendedTitlesTableHeading {
}


.MyBookshelfBorder {
  background-color: #666666;
}

.MyBookshelfSpacer {
  background-color: #666666;
}


.MyBookshelfEvenRows {
}

.MyBookshelfOddRows {
}

.MyBookshelfTableHeading {
}


.MyRecentSearchesBorder {
	background-color: #666666;
}

.MyRecentSearchesEvenRows {
}

.MyRecentSearchesOddRows {
}

.MyRecentSearchesTableHeading {
	background-color: #EEEEEE;
}



.MyBookmarksBorder {
	background-color:#666666;
}

.MyBookmarksEvenRows {
	background-color: #EEEEEE;
}

.MyBookmarksOddRows {
}

.MyBookmarksTableHeading {
	background-color: #EEEEEE;
}


.GroupNotesBorder {
	background-color: #666666;
}

.GroupNotesEvenRows {
}

.GroupNotesOddRows {
}

.GroupNotesTableHeading {
	background-color: #EEEEEE;
}



.PublicNotesBorder {
	background-color: #666666;
}

.PublicNotesEvenRows {
}

.PublicNotesOddRows {
}

.PublicNotesTableHeading {
	background-color: #EEEEEE;
}


.MyNotesBorder {
	background-color: #666666;
}

.MyNotesEvenRows {
}

.MyNotesOddRows {
}

.MyNotesTableHeading {
	background-color: #EEEEEE;
}

/* -- Edited 08/28/02 --*/
.ListByCatBorder { background-color: #666666; }

/* -- Edited 09/06/02 -- */
.ListByCatEvenRows { background-color: #EEEEEE; }
.ListByCatOddRows { background-color: #FFFFFF; }

/* -- Edited 08/28/02 --*/
.ListByCatTableHeading {
	background-color: #999999;
}




/* -- Edited 09/06/02 -- */
.SearchResultBorder { background-color:#666666; }
.SearchResultEvenRows { background-color:#EEEEEE; }
.SearchResultOddRows { background-color:#FFFFFF; }

.SearchResultTableHeading {
	background-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 66%;
	padding-left: 2px;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	color: #000000;
	vertical-align: middle;
	line-height: 12px;
}




.SectionSearchResultBorder {
	background-color:#666666;
}

.SectionSearchResultEvenRows {
	background-color:#ffffff;
}

.SectionSearchResultOddRows {
	background-color:#EEEEEE;
}

.SectionSearchResultTableHeading {
	background-color: #CCCCCC;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 66%;
	padding-left: 2px;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	color: #000000;
	vertical-align: middle;
	line-height: 12px;

}

/* -- These are NEW! -- */

.TextFrame {
	background-color: #d1c8a1;
}

.printhdr
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}  

/* -- For the Help screens */

.HelpHeaderBar { font-family: Arial, Helvetica, sans-serif; font-size: 66%; font-style: normal; font-weight: bold; background-color: #EDB933; color: #000000; text-align: left; text-indent: 5pt; vertical-align: middle; padding-left: 5px; }
			   
.HelpNavLinks { font-family: Arial, Helvetica, sans-serif; font-size: 66%; line-height: 133%; font-weight: bold; list-style-image: none; list-style-type: none; list-style-position: inside; }
.HelpNavLinks a:link { color : #003399; }
.HelpNavLinks a:hover { color : #000033; }
	
.HelpNavLinks2 { font-family: Arial, Helvetica, sans-serif; font-size: 66%; font-weight: normal; list-style-image: none; list-style-type: none; list-style-position: inside; text-indent: 5pt; }
.HelpNavLinks2 a:link { color : #003399; }
.HelpNavLinks2 a:hover { color : #000033; }

.HelpSectionHead { font-family: Arial, Helvetica, sans-serif; font-size: 70%; font-style: normal; font-weight: bold; color: #000000; text-align: left; }

.HelpSectionSubHead { font-family: Arial, Helvetica, sans-serif; font-size: 66%; font-style: normal; font-weight: bold; text-align: left; }

.HelpText { font-family: Arial, Helvetica, sans-serif; font-size: 66%; list-style-position: inside; list-style-image: none; list-style-type: disc; }
 
