/* Special Styles for use in IE4 for Win32 */
.expanded {display:inline; color:black} /* visible state */
.collapsed {display:none} /* hidden state */
.propattr  {color: green; font-weight: bold } /* entity is both an attribute and a property */

/* use for ID of show/hide-able ref sections */
/* pCode == Example block, pSyntax == Syntax block, pEvents = Event Parameter block */
#pCode, #pSyntax, #pEvents {display:none;text-decoration:underline;cursor:hand}
