BODY {
	font: x-small "Verdana";
	background-color: #FFFFFF; }
	
h1 {
	font: 150% "Verdana";
	font-weight: bold }
	
h2 {
	font: 135% "Verdana";
	font-weight: bold }
	
h3 {
	font: 120% "Verdana";
	font-weight: bold }
	
h4 {
	font: 100% "Verdana";
	font-weight: bold }

P  {
	font: x-small "Verdana";
	color: black}

PRE, CODE {
	font: x-small "courier new"}
	
TD {
	font-size: 10pt }

A:LINK {
	color: #990000 }
	
A:VISITED {
	color: #660000 }
	
.tl {
	padding-bottom: 9pt }
	
.atl {
	padding-left: .25in;
	padding-bottom: 9pt }
	
.red {
	color: #CC0000 }
	
.cfe {
	font-weight: bold }
	
.blue {
	color: #0000CC }
	
.mini {
	font-size: 80% }
	
LI {
	margin-top: 9pt;
	margin-bottom: 12pt }
	
UL LI {
	list-style-type: square }

LI UL {
	margin-top: 12pt;
	margin-bottom: 12pt }
	
LI OL {
	margin-top: 12pt;
	margin-bottom: 12pt }
	
LI P {
	margin-top: 6pt;
	margin-bottom: 6pt;
	 }

.dt {
	margin-bottom: -12pt }
	
.indent {
	padding-left: .25in }
	
SUP {
	text-decoration: none;
	font-size: smaller }