BODY {
	font: 10pt "Verdana"}
	
h1 {
	font: 22pt "Verdana";
	font-weight: bold }
	
h2 {
	font: 18pt "Verdana";
	font-weight: bold }
	
h3 {
	font: 14pt "Verdana";
	font-weight: bold }
	
h4 {
	font: 11pt "Verdana";
	font-weight: bold }

P  {
	font: 10pt "Verdana";
	color: black}

PRE, CODE {
	font: 10pt "courier new"}
	
TD {
	font-size: 10pt }

A:LINK {
	color: #990000 }
	
A:VISITED {
	color: #660000 }
	
.tl {
	padding-bottom: 9pt }
	
.atl {
	padding-left: .25in;
	padding-bottom: 9pt }
	
.red {
	color: #CC0000 }
	
.cfe {
	font-weight: bold }
	
.blue {
	color: #0000CC }
	
.mini {
	font-size: 80% }

LI UL {
	padding-top: 9pt;
	padding-bottom: 9pt }
	
LI OL {
	padding-top: 9pt;
	padding-bottom: 9pt }

	
.dt {
	margin-bottom: -12pt }
	
.indent {
	padding-left: .25in }