/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-family: 'Segoe UI';
	text-indent: 0;
	line-height: 35px;
	background-color: #ffffff;
	mc-leader-align: left;
	mc-leader-format: 'none';
	vertical-align: baseline;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt;
	widows: 2;
	orphans: 2;
	page-break-before: always;
	text-align: right;
	word-spacing: 3px;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #c40d5d;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #c40d5d;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #c40d5d;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	padding-left: 0px;
}

h2
{
	font-family: 'Segoe UI';
	widows: 2;
	orphans: 2;
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #696969;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #dcdcdc;
	font-size: 13pt;
}

h3
{
	font-family: 'Segoe UI';
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #696969;
	padding-left: 0px;
	widows: 2;
	orphans: 2;
	page-break-inside: avoid;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
	font-family: 'Segoe UI';
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
	font-family: 'Segoe UI';
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
	font-family: 'Segoe UI';
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	font-family: 'Segoe UI';
	page-break-before: auto;
	mc-hyphenate: never;
	widows: 2;
	orphans: 2;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

fieldset
{
	font-family: 'Segoe UI';
}

dir
{
	font-family: 'Segoe UI';
}

menu
{
	font-family: 'Segoe UI';
}

center
{
	font-family: 'Segoe UI';
}

blockquote
{
	font-family: 'Segoe UI';
}

div
{
	font-family: 'Segoe UI';
}

address
{
	font-family: 'Segoe UI';
}

td
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: italic;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

li
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	padding-left: 0px;
}

ol
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	color: #000000;
}

ol p
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

ul p
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

ul
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	color: #000000;
}

table
{
	font-size: 10pt;
	font-family: 'Segoe UI';
	border-left-style: solid;
	border-left-width: 1;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1;
	border-bottom-color: #dcdcdc;
}

tbody
{
	font-size: 10pt;
	font-family: 'Segoe UI';
}

th
{
	background-color: #d3d3d3;
}

tr.note
{
	background-color: #d3d3d3;
	font-family: ;
}

td.note
{
	background-color: #d3d3d3;
	font-family: ;
	font-weight: normal;
	font-style: normal;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #c40d5d;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #c40d5d;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #c40d5d;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #c40d5d;
}

MadCap|miniTocProxy
{
	border-top-width: 0px;
	border-top-color: #ffffff;
	border-top-style: none;
}

MadCap|tocProxy
{
	border-top-width: 0px;
	border-top-color: #ffffff;
	border-top-style: none;
}

