P { 
   margin-top:5pt; 
   margin-bottom:5pt; 
   font-family:Arial, sans-serif; 
   font-size:10pt;  }
LI.kadov-P { 
            font-family:Arial, sans-serif; 
            font-size:10pt;  }
P.BodyIndent { 
              margin-left:18pt;  }
LI.kadov-P-CBodyIndent {  }
P.Bullet { 
          margin-left:0pt; 
          margin-top:5pt; 
          margin-bottom:5pt; 
          list-style:square;  }
LI.kadov-P-CBullet { 
                    list-style:square;  }
P.BulletIndent { 
                margin-left:12pt; 
                margin-top:5pt; 
                margin-bottom:5pt; 
                list-style:square;  }
LI.kadov-P-CBulletIndent { 
                          list-style:square;  }
P.StepHeading { 
               font-weight:bold; 
               font-style:normal; 
               margin-bottom:5pt; 
               margin-top:10pt; 
               color:#980000;  }
LI.kadov-P-CStepHeading { 
                         font-weight:bold; 
                         font-style:normal; 
                         color:#980000;  }
P.TableCellCenter { 
                   text-align:Center; 
                   margin-left:3pt; 
                   margin-right:3pt;  }
LI.kadov-P-CTableCellCenter { 
                             text-align:Center;  }
P.TableCellLeft { 
                 margin-left:3pt; 
                 margin-right:3pt; 
                 margin-top:7pt; 
                 margin-bottom:7pt;  }
LI.kadov-P-CTableCellLeft {  }
P.TableHeading { 
                font-weight:bold; 
                font-style:normal; 
                margin-top:7pt; 
                margin-bottom:7pt; 
                text-align:Left; 
                color:#980000;  }
LI.kadov-P-CTableHeading { 
                          font-weight:bold; 
                          font-style:normal; 
                          text-align:Left; 
                          color:#980000;  }
H1 { 
    font-family:Arial, sans-serif; 
    font-size:14pt; 
    margin-bottom:10pt; 
    color:#980000;  }
LI.kadov-H1 { 
             font-family:Arial, sans-serif; 
             font-size:14pt; 
             color:#980000;  }
H2 { 
    font-family:Arial, sans-serif; 
    font-size:12pt; 
    color:#980000; 
    margin-top:0pt; 
    margin-bottom:5pt;  }
LI.kadov-H2 { 
             font-family:Arial, sans-serif; 
             font-size:12pt; 
             color:#980000;  }
H3 { 
    font-family:Arial, sans-serif; 
    font-size:10pt; 
    margin-top:5pt; 
    margin-bottom:5pt; 
    color:#980000;  }
LI.kadov-H3 { 
             font-family:Arial, sans-serif; 
             font-size:10pt; 
             color:#980000;  }
P.NormalNoSpace { 
                 margin-top:0pt; 
                 margin-bottom:3pt;  }
LI.kadov-P-CNormalNoSpace {  }
P.Step { 
        list-style:decimal; 
        margin-left:-12pt;  }
LI.kadov-P-CStep { 
                  list-style:decimal;  }
SPAN.BoldOption { 
                 font-weight:bold; 
                 font-style:normal; 
                 font-family:Arial, sans-serif;  }
SPAN.StepNumber { 
                 font-weight:bold; 
                 font-style:normal; 
                 font-family:Arial, sans-serif; 
                 color:#980000;  }
SPAN.BulletFont { 
                 font-size:8pt; 
                 font-family:Wingdings; 
                 color:#980000;  }
P.Step1 { 
         text-indent:-0in; 
         list-style:decimal; 
         margin-top:-9pt; 
         margin-left:-12pt;  }
LI.kadov-P-CStep1 { 
                   text-indent:-0in; 
                   list-style:decimal;  }
P.NoteHeading { 
               font-weight:bold; 
               font-style:normal; 
               margin-top:0pt; 
               margin-left:4pt; 
               color:#980000;  }
LI.kadov-P-CNoteHeading { 
                         font-weight:bold; 
                         font-style:normal; 
                         color:#980000;  }
H3.HeadingRelatedTopics { 
                         x-next-class:NormalNoSpace; 
                         x-next-type:P; 
                         font-size:12pt; 
                         margin-top:8pt; 
                         margin-bottom:5pt;  }
LI.kadov-H3-CHeadingRelatedTopics { 
                                   font-size:12pt;  }
A.dropspot { 
            font-family:Arial, sans-serif; 
            color:#980000;  }
A:link { 
        color:#000080;  }
A:visited { 
           color:#800000;  }
A.popupspot { 
             x-text-underline:Off; 
             color:#000080; 
             text-decoration:none;  }
P.NoteText { 
            margin-left:4pt;  }
LI.kadov-P-CNoteText {  }
BODY { 
      font-family:Arial, sans-serif; 
      font-size:10pt;  }
P.StepNoSpaceBefore { 
                     margin-top:-9pt; 
                     list-style:decimal; 
                     margin-left:-12pt;  }
LI.kadov-P-CStepNoSpaceBefore { 
                               list-style:decimal;  }
P.BulletFirst { 
               margin-top:-9pt; 
               list-style:square;  }
LI.kadov-P-CBulletFirst { 
                         list-style:square;  }
P.BulletIndentFirst { 
                     margin-top:-9pt; 
                     margin-left:12pt;  }
LI.kadov-P-CBulletIndentFirst {  }
P.StepNoSpaceAfter { 
                    list-style:decimal; 
                    margin-bottom:-10pt; 
                    margin-left:-12pt;  }
LI.kadov-P-CStepNoSpaceAfter { 
                              list-style:decimal;  }
P.StepNoSpaceBeforeOrAfter { 
                            list-style:decimal; 
                            margin-top:-9pt; 
                            margin-bottom:-9pt; 
                            margin-left:-12pt;  }
LI.kadov-P-CStepNoSpaceBeforeOrAfter { 
                                      list-style:decimal;  }
P.Important { 
             x-next-class:TableCellLeft; 
             x-next-type:P; 
             background-color:#e6e6e6; 
             margin-top:10pt; 
             margin-bottom:10pt;  }
LI.kadov-P-CImportant {  }
A.expandspot { 
              color:#000080;  }
SPAN.expandtext { 
                 color:#000080;  }
p.NOTEINSTEPS { 
               margin-left:24px; 
               margin-top:5pt;  }
LI.kadov-p-CNOTEINSTEPS {  }
p.NOTEINBULLETS { 
                 margin-left:60px;  }
LI.kadov-p-CNOTEINBULLETS {  }
p.bodyindentmore { 
                  margin-left:60px;  }
LI.kadov-p-Cbodyindentmore {  }
